*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    background-color: #696969;
    font-size: 16px;
}
body{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items:center;
    height: 100px;
    padding: 20px;
    background-color:black;
    margin-bottom: 150px;
}
.under700{
    display: none;
}
.over700 li{
    display: inline-block;
    padding: 10px;
}
.over700 a{
    color: white;
    font-size: 1.5rem;
    padding: 1vw;
}
.over700 a:hover{
    opacity:0.7;
    font-size: 1.6rem;
    text-decoration: none;
    transition:opacity .3s ease-in-out, font-size .3s ease-in-out;
}
.logo{
    padding: 1vw;
    display: flex;
    height: 100%;
    align-items: center;
}
.logo img{
    width: 20%;
}
.logo a:hover{
    opacity: 0.8;
    transition: opacity .3s ease-in-out;
}


@media only screen and (max-width:1045px){
    .logo{
        width: 30%;
    }
    .logo a,.logo img{
        width: 60%;
    }
}
@media only screen and (max-width:705px){
    header{
        height: 100px;
        margin: 0;
    }
    .over700{
        display: none;
    }
    .logo{
        width: 150px;
    }
    .under700{
        display: inline-block;
        padding: 5%;
    }
    .under700 img{
        width: 150%;
    }
}
